
  <div class="navbar-right hidden-xs hidden-sm">
    <a href="/restaurants/new" class="navbar-item navbar-link">New Restaurant</a>
    <a href="/restaurants" class="navbar-item navbar-link">Restaurants</a>
   </div>
</div>


